{% extends "AppAdminBundle::layout.html.twig" %}

{% block content %}

{% if admin.tree %}
    {% set content_left_width = 3 %}
{% else %}
    {% if admin.showmenutree %}
        {% set content_left_width = 2 %}
    {% else %}
        {% set content_left_width = 0 %}
    {% endif %}
{% endif %}

{% set content_right_width = 12 - content_left_width %}

{% if content_left_width > 0 %}
<div class="col-sm-{{ content_left_width }}" id="action_menu_tree">
    
    {% block content_right %}
    
        {% if admin.tree %}
            {# embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false } #}
            <div role="navigation" class="navbar navbar-default">
                    {{ knp_menu_render( admin.treemenu , {
                        template: '@MopaBootstrap/Menu/menu.html.twig' ,
                    }) }}
            </div>
            {# endembed #}
        {% endif %}
    
        {# embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false } #}
            <div role="navigation" class="navbar navbar-default">
                {{ knp_menu_render( admin.actionmenu , {
                    
                }) }}
            </div>
        {# endembed #}
    
    {% endblock %}
</div>
{% endif %}

<div class="col-sm-{{ content_right_width }}">

    <div class="col-sm-12">
        <div id="action_menu_bar">
        {% include 'AppAdminBundle:Menu:knp_menu.html.twig' with { menu: admin.actionbarmenu  } %}
        </div>
    </div>

    {% include 'AppAdminBundle::admin_message.html.twig' %}
    
    <div style="clear:both;">
    {% block content_left %}
        <form class="form-horizontal" method="post">
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="reset" class="btn">Cancel</button>
            </div>
        </form>
    {% endblock %}
    </div>
</div>


    
{% endblock %}
